.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.categories ul{
  padding-left: 0;
  margin: 10px auto;
}

.categories li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  border: 3px solid #888;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.question .container {
  display: block;
  width: 60%;
  height: 200px;
  border: 1px solid #AAA;
  margin: auto;
}

.question .container img {
  height: 200px;
}

.button-bar {
  display: grid;
  grid-template-columns: auto auto auto;
}

button.answer {
  padding: 10px 20px;
  margin: 10px;
  border:5px solid #ACA;
  border-radius: 5px;
  font-size: 2em;
  display: inline-grid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
